// Title sizes
$title-xxl-size: 6rem;
$title-xl-size: 1.8rem;


// Text sizes
// $text-xl-size: ;
// $text-lg-size: ;
// $text-md-size: ;
// $text-sm-size: ;

// Layout sizes
$container-max-size: 1440px;
$gutter: 20px;

